using System.Numerics;

namespace EtherSharp.ABI.Decode.Interfaces;
public partial interface IDynamicTupleDecoder
{
    public byte[] Bytes1Array();    
<#
    for(var i = 2; i <= 32;i=i+1)
    {
#>
    public byte[][] Bytes<#=i#>Array();
<#
    }
#>
}

