<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System" #>
namespace EtherSharp.ABI.Encode.Interfaces;
public partial interface IArrayAbiEncoder 
{
    public IArrayAbiEncoder Bytes1Array(params byte[] value);
<#
    for(var i = 2; i <= 32;i=i+1)
    {
#>
    public IArrayAbiEncoder Bytes<#=i#>Array(params byte[][] values);
<#
    }
#>

}